attrdict==2.0.1
attrs==21.4.0
azure-core==1.23.0
azure-monitor-opentelemetry-exporter==1.0.0b21
cachetools==4.2.4
certifi==2024.07.04
charset-normalizer==2.0.10
click==8.0
clickclick==20.10.2
connexion
Deprecated==1.2.13
Flask==2.2.5
google-auth==2.3.3
googleapis-common-protos==1.54.0
grpcio==1.53.2
idna==3.7
inflection==0.5.1
iniconfig==1.1.1
isodate==0.6.1
itsdangerous==2.0
Jinja2==3.1.4
jsonschema==3.2.0
kubernetes==25.3.0
MarkupSafe==2.1.1
msrest==0.6.21
oauthlib==3.2.2
openapi-schema-validator==0.1.6
openapi-spec-validator==0.3.1
opentelemetry-api==1.21.0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-exporter-jaeger-proto-grpc==1.21.0
opentelemetry-exporter-jaeger-thrift==1.21.0
opentelemetry-instrumentation==0.42b0
opentelemetry-instrumentation-flask==0.42b0
opentelemetry-instrumentation-requests==0.42b0
opentelemetry-instrumentation-wsgi==0.42b0
opentelemetry-sdk==1.21.0
opentelemetry-semantic-conventions==0.42b0
opentelemetry-util-http==0.42b0
packaging==21.3
pluggy==1.0.0
protobuf==3.19.5
py
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyparsing==3.0.7
pyrsistent==0.18.0
pytest==7.0.1
python-dateutil==2.8.2
PyYAML==5.4.1
requests==2.31.0
requests-oauthlib==1.3.0
rsa==4.8
six==1.16.0
swagger-ui-bundle==0.0.9
thrift==0.15.0
tomli==2.0.1
urllib3==1.26.19
uWSGI==2.0.22
websocket-client==1.2.3
Werkzeug==3.0.6
wrapt==1.13.3